<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title> Vue Email List</title>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>

  <div id="app">
    <ul v-if="isLoad">
      <li v-for="email in emails" :key="email">{{ email }}</li>
    </ul>
    <p v-else>sto caricando</p>
  </div>
  
  <script src="./js/script.js"></script>
</body>
</html>